.submit-button {
  color: #3a42e7;
  cursor: pointer;

  text-align: center;

  border: 3px solid #3a42e7;
  border-radius: 10px;
  padding: 5px;
  margin: 1px;

  background: white;

  transition-duration: 100ms;
  transition-property: background, border, color;
}

.submit-button:hover {
  background: #3a42e7;
  color: white;
}
